[Desktop Entry]
Encoding=UTF-8
Name=New Horizons 3000 Radio
Comment=Radio Station Administration
GenericName=Radio Admin
Keywords=Radio
Exec=/opt/src/github.com/nh3000/broadcast/cmd/gui/nhgui
TryExec=/opt/src/github.com/nh3000/broadcast/cmd/gui/nhgui
Terminal=false
Type=Application
Icon=/opt/src/github.com/nh3000/broadcast/cmd/gui/Icon.png
StartupNotify=true